<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>Sistema Rodoviária</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <h1 class="text-center title-1"> Menu inicial </h1>
  </head>
  <body>
    <div class="d-grid gap-2">
        <form action = "/funcionario" class="btn btn-warning btn-lg btn-block">
          <button method="get" type="submit" class="btn btn-warning btn-lg btn-block">Funcionário</button>
        </form>
        <form action="/onibus" class="btn btn-primary btn-lg btn-block">
          <button  method="get" type="submit" class="btn btn-primary btn-lg btn-block">Ônibus</button>
        </form>
        <form action="/passagem" class="btn btn-danger btn-lg btn-block">
          <button  method="get" type="submit" class="btn btn-danger btn-lg btn-block">Passagem</button>
        </form>
        <form action="/empresas" class="btn btn-success btn-lg btn-block">
          <button  method="get" type="submit" class="btn btn-success btn-lg btn-block">Empresas</button>
        </form>
        <form action="/rotas" class="btn btn-secondary btn-lg btn-block">
          <button  method="get" type="submit" class="btn btn-secondary btn-lg btn-block">Rotas</button>
        </form>
        <form action="/relatorioempresa" class="btn btn-dark btn-lg btn-block">
          <button  method="get" type="submit" class="btn btn-dark btn-lg btn-block">Relatório Ônibus por Empresa</button>
        </form>
        <form action="/relatoriorotadia" class="btn btn-info btn-lg btn-block">
          <button  method="get" type="submit" class="btn btn-info btn-lg btn-block">Relatório Rotas por Dia</button>
        </form>
        <form action="/relatoriopassagem" class="btn btn-primary btn-lg btn-block">
          <button  method="get" type="submit" class="btn btn-primary btn-lg btn-block">Relatório Passagem por período</button>
        </form>
    </div>
  </body>
  
</html>