<!DOCTYPE html>
<html>
  <head>
    <nav class="navbar navbar-dark bg-primary">
      <form action = "/menu" class="btn btn-link-dark">
        <button type="submit" class="btn btn-link-dark">Home</button>
      </form>
      <form action = "/funcionario" class="btn btn-link-dark">
        <button type="submit" class="btn btn-link-dark">Funcionários</button>
      </form>
      <form action = "/passagem" class="btn btn-link-dark">
        <button type="submit" class="btn btn-link-dark">Passagem</button>
      </form>
      <form action = "/onibus" class="btn btn-link-dark">  
        <button type="submit" class="btn btn-link-dark">Ônibus</button>
      </form>
      <form action = "/empresas" class="btn btn-link-dark">
        <button type="submit" class="btn btn-link-dark">Empresas</button>
      </form>
      <form action = "/rotas" class="btn btn-link-dark">
        <button type="submit" class="btn btn-link-dark">Rotas</button>
      </form>
    </nav>

    <meta name="viewport" content="width=device-width">
    <title>Consultar Funcionário</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <h1 class="text-center title-1"> Relatório Rotas por Dia </h1>
  </head>
  <body>
    <form action="/relatoriorotadia" class="row g-3" method="post">
    <div class="col-6">
        <label for="rotaDias" class="form-label">Dia da Semana</label>
        <select name="rotaDias" class="form-control">
            <option value="Domingo" >Domingo</option>
            <option value="Segunda">Segunda</option>
            <option value="Terça" selected>Terça</option>
            <option value="Quarta" >Quarta</option>
            <option value="Quinta" >Quinta</option>
            <option value="Sexta" >Sexta</option>
        </select>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Emitir relatório</button>
  </div>
</form>
  </body>
  
</html>